html
    head
        title BenJ
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/index.js")
    body
        main
            h2 #{err}
            input(placeholder="Git UserName ex: BenjaminLHONNEN" onkeypress="goToDetail(event)").inputIndex#input